@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5A5A5A;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
}

.cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #5F85DB;
  z-index: 1;
  color: #FFFFFF;
}

.cabecalho h1 {
  text-align: center;
}

.cabecalho ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.cabecalho ul li {
  padding: 2% 2%;
  margin: 2% 2%;
}

.cabecalho a {
  color: #FFFFFF;
  text-decoration: none;
}

.profile, .main {
  font-size: 0.8em;
}

section {
  background-color: #DADADA;
  border-radius: 15px;
  box-shadow: 2px 2px 2px #DADADA;
  padding: 2%;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: auto;
  margin-top: 32%;
}

.profile div {
  width: 50%;
}

.photo {
  border-radius: 10%;
  box-shadow: 1px 2px 2px black;
}

.main {
  text-align: justify;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5%;
  width: 85%;
}

.lado-direito {
  margin-top: 5%;
}

table {
  border-collapse: collapse;
}

td , th {
  border: 1px solid black;
  padding: 5px;
}

.main a {
  text-decoration: none;
  color: #5F85DB;
  font-weight: 700;
}

.lado-esquerdo a {
  text-align: center;
}

section {
  padding: 5%;
}

.footer {
  background-color: #DADADA;
  margin-top: 3%;
  padding: 2%;
  font-size: 0.6em;
  text-align: center;
}

@media (min-width: 481px) {
  body {
    font-size: 1.2em;
  }

  .cabecalho {
    padding: 1%;
  }

  .cabecalho ul {
    flex-direction: row;
    justify-content: space-around;
  }

  .cabecalho ul li {
    padding: 4% 4%;
    margin: 8% 8%;
  }

  .profile {
    margin-top: 18%;
  }

  .profile div {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
